<a href="https://colab.research.google.com/github/julihocc/python-machine-learning-notebooks/blob/main/argumentos_funciones.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def suma(a,b):
  return a+b

In [ ]:
suma(1, 0)

1

In [ ]:
suma("x", "y")

'xy'

In [ ]:
try:
  suma("q", 1)
except:
  print("error: no podemos sumar un caracter con un entero")

error: no podemos sumar un caracter con un entero

In [ ]:
try:
  suma(1,2,3)
except:
  print("error: la suma toma dos argumentos")

error: la suma toma dos argumentos

In [ ]:
def suma(a,b,c):
  return a+b+c

In [ ]:
suma(1,2,3)

6

In [ ]:
try:
  suma(1,2)
except:
  print("error: ahora la suma debe tomar tres argumentos")

error: ahora la suma debe tomar tres argumentos

In [ ]:
direccion = ["Calle del Olmo", 123, "00001"]
cliente = ["Juan Hernandez", 25, direccion]

for dato in cliente:
  print(dato)

Juan Hernandez
25
['Calle del Olmo', 123, '00001']

In [ ]:
numeros = [1,2,3,4]
acumulador = 0
for numero in numeros:
  acumulador = acumulador + numero
print(acumulador)

10

In [ ]:
def suma(numeros):
  acumulador = 0
  for numero in numeros:
    acumulador = acumulador + numero
  return acumulador

In [ ]:
suma([1,2,3,4])

10

In [ ]:
try:
  suma(1,2,3,4)
except:
  print("error: ahora la suma debe tomar una lista de numeros")

error: ahora la suma debe tomar una lista de numeros

In [ ]:
def suma(*numeros):
  acumulador = 0
  for numero in numeros:
    acumulador = acumulador + numero
  return acumulador

In [ ]:
suma(1,2,3,4)

10

In [ ]:
suma(1,2,3,4,5)

15

In [ ]:
# direccion = ["Calle del Olmo", 123, "00001"]
# cliente = ["Juan Hernandez", 25, ["Calle del Olmo", 123, "00001"]]

In [ ]:
cliente = {
    "nombre": "Juan Hernandez",
    "edad(años)": 25,
    "dirección":  {
        "calle": "Calle del Olmo",
        "número": 123,
        "cp": "00001"
    }
}

In [ ]:
for elemento in cliente:
  print(elemento)

nombre
edad(años)
dirección

In [ ]:
cliente["nombre"]

'Juan Hernandez'

In [ ]:
cliente["edad(años)"]

25

In [ ]:
cliente["dirección"]

{'calle': 'Calle del Olmo', 'numero': 123, 'cp': '00001'}

In [ ]:
for elemento in cliente["dirección"]:
  print(elemento, cliente["dirección"][elemento])

calle Calle del Olmo
numero 123
cp 00001

In [ ]:
for elemento in cliente:
  print(elemento, cliente[elemento])

nombre Juan Hernandez
edad(años) 25
dirección {'calle': 'Calle del Olmo', 'numero': 123, 'cp': '00001'}

In [ ]:
for elementos in cliente.keys():
  print(elementos)

nombre
edad(años)
dirección

In [ ]:
for elementos in cliente.values():
  print(elementos)

Juan Hernandez
25
{'calle': 'Calle del Olmo', 'numero': 123, 'cp': '00001'}

In [ ]:
for elemento in cliente.items():
  print(elemento)

('nombre', 'Juan Hernandez')
('edad(años)', 25)
('dirección', {'calle': 'Calle del Olmo', 'numero': 123, 'cp': '00001'})

In [ ]:
for clave, valor in cliente.items():
  print(clave.capitalize(),":",valor )

Nombre : Juan Hernandez
Edad(años) : 25
Dirección : {'calle': 'Calle del Olmo', 'numero': 123, 'cp': '00001'}

In [ ]:
data = {
  "first_name": "John",
  "last_name": "Smith",
  "is_alive": True,
  "age": 27,
  "address": {
    "street_address": "21 2nd Street",
    "city": "New York",
    "state": "NY",
    "postal_code": "10021-3100"
  },
  "phone_numbers": [
    {
      "type": "home",
      "number": "212 555-1234"
    },
    {
      "type": "office",
      "number": "646 555-4567"
    }
  ],
  "children": [
    "Catherine",
    "Thomas",
    "Trevor"
  ],
  "spouse": None
}

In [ ]:
for clave, valor in data.items():
  print(clave.capitalize(),":",valor )

First_name : John
Last_name : Smith
Is_alive : True
Age : 27
Address : {'street_address': '21 2nd Street', 'city': 'New York', 'state': 'NY', 'postal_code': '10021-3100'}
Phone_numbers : [{'type': 'home', 'number': '212 555-1234'}, {'type': 'office', 'number': '646 555-4567'}]
Children : ['Catherine', 'Thomas', 'Trevor']
Spouse : None

In [ ]:
def suma(a,b, c=1,d=1):
  return c*a + d*b

In [ ]:
suma(2,3)

5

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
print(1,2,3, end="/", sep=";")

1;2;3/

In [ ]:
suma(1,2,c=3) # 3*1+1*2 = 5

5

In [ ]:
suma(1,2,d=3) # 1*1+3*2 = 7

7

In [ ]:
suma(1,1,2,2)

4

In [ ]:
def imprimir_info(**datos):
  for clave, valor in datos.items():
    print(clave.capitalize(),":",valor )

In [ ]:
imprimir_info(nombre="Juan", edad=25)

Nombre : Juan
Edad : 25

In [ ]:
def f(*args, **kwargs):
  print(args)
  print(kwargs)

In [ ]:
f(1,2,3,x=4,y=5)

(1, 2, 3)
{'x': 4, 'y': 5}